<!DOCTYPE html>
<html>
    <head>
        <meta charset=UTF-8>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="assets/css/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>TELACademy</title>
    </head>
    <body>        
        <div class="grey_bg">
            <%- include('./includes/header') -%>
            <br><br><br>
            <div class="container grey_bg">
                <div class="row">
                    <div class="col-md-7 slogan text-light" >
                        <br>
                        OUR VISION IS
                        <br>
                        YOUR SUCCESS
                    </div>
                    <div class="col-md-5">
                        <img src="\assets\images\first.png" alt="This is a category picture">
                    </div>
                </div>
            </div>
            <br><br><br><br><br>
        </div>
        
        <br><br><br><br><br><br>

        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <h2 class="bigtxt">
                            WHO ARE WE?
                        </h2>
                    </div>
                    <div class="col-md-7 smalltxt">
                        <br>
                        We are an Expat Language Academy that teaches english, french and spanish. We covers in our courses and we prepared you to pass some exams like IELTS, YLE, KET, PET, FCE, CAE, CPE and Cambridge ESOL exam preparation.
                    </div>
                </div>
            </div>
        </div>

        <br><br><br><br><br><br><br>
        
        <div class="grey_bg">
            <br><br><br>
            <h2 class="text-center bigtxt text-light">Levels that we offer</h2>
            <br><br><br><br><br><br>

            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-center mb-5 text-light">
                        <img class="product__img" src="\assets\images\casque.png" alt="This image is for A1 level">
                        <br>
                        <p class="smalltxt">BEGINNER (A1)</p>
                    </div>
                    <div class="col-md-4 text-center mb-5 text-light">
                        <img class="product__img" src="\assets\images\casque.png" alt="This image is for A2 level">
                        <br>
                        <p class="smalltxt">ELEMENTARY (A2)</p>
                    </div>
                    <div class="col-md-4 text-center mb-5 text-light">
                        <img class="product__img" src="\assets\images\casque.png" alt="This image is for B1 level">
                        <br>
                        <p class="smalltxt">INTERMEDIATE (B1)</p>
                    </div>
                </div>
            </div>
            <br><br><br>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-center mb-5 text-light">
                        <img class="product__img" src="\assets\images\casque.png" alt="This image is for B2 level">
                        <br>
                        <p class="smalltxt">UPPER INTERMEDIATE (B2)</p>
                    </div>
                    <div class="col-md-4 text-center mb-5 text-light">
                        <img class="product__img" src="\assets\images\casque.png" alt="This image is for C1 level">
                        <br>
                        <p class="smalltxt">ADVANCED (C1)</p>
                    </div>
                    <div class="col-md-4 text-center mb-5 text-light">
                        <img class="product__img" src="\assets\images\casque.png" alt="This image is for C2 level">
                        <br>
                        <p class="smalltxt">MASTERY (C2)</p>
                    </div>
                </div>
            </div>
            <br><br><br><br>
        </div>

        <div id="join_us">
            <br><br><br><br><br><br>
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h2 class="text-center bigtxt">Join us</h2>
                        <p class="smalltxt">
                            If you want to learn and be a master in english contact us to start that journey together. You can find us below.
                        </p>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>

        <br><br><br><br><br><br><br><br><br><br><br><br>
        
        <div id="contact">
            <%- include('./includes/footer') -%>
        </div>
        
        <br><br>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    </body>
</html>
